@font-face {
  font-family: "BB";
  src: url("../public/fonts/BB-Regular.woff2") format("woff2"),
    url("../public/fonts/BB-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BB Condensed";
  src: url("../public/fonts/BB-CondensedBold.woff2") format("woff2"),
    url("../public/fonts/BB-CondensedBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* ===== Scrollbar ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #000000 #ffffff;
}
/* modify selection color */
::selection {
  color: #ffffff;
  background-color: #000000;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 11px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 1px solid #000000;
}
